header{
	width: 100%;
	padding: 10px;
    background-color: #3800c7a8;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
}
.container{
    position: relative;
	height: 85vh;
	border: #0a0 1px solid;
	background-image: url('grass.jpg')
}
#food{
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
	position: absolute;
	top:90px;
	left: 90px;
	color: #cccccc;
	text-align: center;
	vertical-align: auto;
}
#snake{    
    width: 30px;
    height: 30px;
    top: 150px;
    left: 150px;
    background-color: #ff9822;
	position: absolute;
	z-index: 1;
}
.tail{
    width: 30px;
    height: 30px;
    top: 150px;
    left: 150px;
    background-color: #e2ff22;
	position: absolute;
	z-index: 1;
}